<nav class="navbar navbar-default navbar-fixed-top navbar-header-color" data-spy="affix" id="main-navbar">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ex1">
              <span class="sr-only">this not be shown</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
      <div class="navbar-header-brand-color"><a href="" class="navbar-brand "><strong>Modern School</strong></a></div>
    </div>
    <div class="collapse navbar-collapse navigation navbar-header-link-color" id="ex1">
      <ul class="nav navbar-nav ">
        <li><a href="#about">About Us</a></li>
        <li><a href="#admission">Admission</a></li>
        <li><a href="#academics">Academics</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>